<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Library App</title>
</head>

<body>
  <h1>Welcome to Book Library!</h1>
  <p>Your personal book collection.</p>
  <nav>
    <ul>
      <li>
        <a href="/books">📚 Browse Books</a>
      </li>
      <li>
        <a href="/books/new">📖 Add New Book</a>
      </li>
    </ul>
  </nav>
</body>

</html>